/* DISEÑO DEL APARTADO GRÁFICO DEL JUEGO... */

body 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2c3e50;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
}

canvas
{
    border: 2px solid white;
    background-color: #0077b6;
}